
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            {% block title_block %}

            {% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        div.item-detail{
            float: left;
            width: 30%;
            padding: 10px;
            margin: 5px;
            height: 300px;
            text-align: center;
        }
    </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1">
            <div class="container">
                <div class="navbar-nav mr-auto">
                    <a class="navbar-brand" href="{% url 'collection:index' %}">Your Collections</a>
                    <a class="nav-item nav-link" href="#}"></a>
                    
                </div>

                {% if user.is_authenticated %}
                <div class="text-right ml-auto">
                    <form method="GET" action="{% url 'collection:collection_search' %}" class="form-inline mr-auto float-right">
                        <input type="text" class="form-control mb-2 mr-sm-2 " name="q" placeholder="collection name" value="{{request.GET.q}}">
                        <input type="hidden" name="user" value="{{request.user}}"/>
                        <input type="submit" class="btn btn-dark btn btn-outline-success" 
                        value="SEARCH">
                    </form>
                </div>
                
                    <a href="{% url 'collection:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'collection:login' %}">Login</a>
                    <a href="{% url 'collection:register' %}">Register</a>
                {% endif %}
            </div>
        </nav>       

        {% block body_block %}


        {% endblock %}
    </body>
</html>